/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* END OF RESET */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #30424F;
    /* background: #006666; */
}

.outer {
    margin: 2em 2em;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10%;
    background: #D8DBDE;
    width: 375px;
    height: 550px;
    display: flex;
}

.inner {
    /* border: solid black 1px; */
    padding: 0.5em;
    flex: 1 1 0;
    margin: 2em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.row {
    display: flex;
    flex: 1;
    gap: 0.5em;
}

button {
    flex: 1 1 0;
    padding: 0;
    font-size: 1rem;
    border: none;
    border-radius: 40%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 300;
}

button:hover {
    filter: brightness(90%);
}

#screen-container {
    margin-bottom: 2em;
    justify-content: flex-end;
    align-items: center;
    border: solid #a7bcb9 3px;
    border-radius: 10px;
}

#screen {
    color: black;
    margin: 0.5em 0.25em;
    /* border: solid red 1px; */
    font-size: 1.25em;
    text-wrap: nowrap;
}

.orange-bg {
    background: #f8da5b; 
}

.blue-bg {
    background: #a7bcb9;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

@media (min-width: 1300px) {
    #screen {
        font-size: 1.25vw;
    }
}
